.installment {
	$self: &;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('./images/bg-installment.png') center / auto no-repeat transparent;
		
	@include media('<=sm') {
		background-size: cover;
	}

	&__inner {
		padding: 160px 0 120px 60px;
		display: flex;
		align-items: center;
		background: url('./images/round.svg') left 20% center / auto no-repeat transparent;
		
		@include media('<=sm') {
			padding: 50px 0 50px 60px;
		}
		
		@include media('<=xs') {
			background-size: contain;
		}
		
		@include media('<=xxs') {
			padding: 50px 0;
		}
	}

	&__side {
		margin-right: 30px;
		
		@include media('<=xxs') {
			margin-right: 0;
		}
	}

	&__title {
		font-family: "MB", sans-serif;
		font-size: 36px;
		line-height: 1.2;
		margin-bottom: 60px;
		
		@include media('<=xs') {
			font-size: 30px;
			margin-bottom: 0px;
		}
		
		@include media('<=xxs') {
			font-size: 24px;
			text-align: center;
		}
	}
	
	&__list {
		margin-bottom: 30px;
		font-family: "MB", sans-serif;
		font-size: 18px;
		line-height: 1.2;

		li {
			margin-bottom: 10px;
		}

		li::before {
			content: '>';
			display: inline-block;
			color: #aaa;
			margin: 0 10px 0 -8px;
		}
		
		@include media('<=xs') {
			font-size: 16px;
		}
		
		@include media('<=xxs') {
			font-size: 14px;
		}
	}

	&__order.button {
		padding: 22px 25px 20px;
		
		@include media('<=xxs') {
			padding: 22px 10px 20px;
		}
		
		@include media('<=xxxs') {
			padding: 10px 10px 8px;
			white-space: normal;
		}
	}

	&__img {
		@include media('<=sm') {
			display: none;
		}
	}
	
	&__img-mobile {
		display: none;

		@include media('<=sm') {
			display: block;
		}
	}
}
