.faq {
	$self: &;
	margin-bottom: 50px;

	&__title {
		text-align: center;
		margin-bottom: 45px;
	}

	&__items {

	}

	&__item {
		border: 1px solid #F1F1F1;
		box-sizing: border-box;
		border-radius: 5px;
		margin-bottom: 12px;
	}
	
	&__item-title {
		font-family: "MB", sans-serif;
		padding: 20px 40px 20px 28px;
		cursor: pointer;
		background: url('#{$images-path}icons-sprite.svg#icon-plus-view-grey') right 20px center / 18px 17px no-repeat transparent;

		&.opened {
			background-image: url('#{$images-path}icons-sprite.svg#icon-minus-view-grey');
			background-size: 17px 4px;
		}
	}
	
	&__item-text {
		display: none;
		padding: 20px 60px;
	}
}