<div class="complex__item">
	<h2 class="complex__item-title title">@@title</h2>
	<div class="complex__item-content">
		<p class="complex__item-price-old">@@old р/м<sup>2</sup> по полу</p>
		<p class="complex__item-price-actual">
			<span>@@actual р/м<sup>2</sup></span>
			<span>по полу</span>
		</p>
		<ul class="complex__item-text">
			<li>Устройство стяжки по маякам</li>
			<li>Грунтовка стен (бетонокотактом)</li>
			<li>Грунтовка пола и стен</li>
			<li>Гидроизоляция мокрых зон</li>
			<li>Шпатлевка стен</li>
			<li>Установка электроточек</li>
			<li>Сборка электрощита</li>
			<li>Прокладка кабеля</li>
			<li>Комплексная разводка труб водоснабжения</li>
			<li>Комплексная разводка труб канализации</li>
		</ul>
		<a href="#" class="complex__item-order-btn button">Отправить заявку</a>
	</div>
</div>