<div class="examples__slide">
	<div class="examples__image">
		<img src="./images/@@img" alt="">
	</div>
	<div class="examples__side">
		<h2 class="examples__side-title title">@@title</h2>
		<p class="examples__side-note"><strong>Общая площадь:</strong> 30м2</p>
		<p class="examples__side-note"><strong>Срок исполнения:</strong> 35 дней Стоимость работ: 240 500 руб.</p>
		<p class="examples__side-text"><strong>Виды работ:</strong> Устройство стяжки по маякам, возведение перегородок, выравнивание стен, устройство потолка из гипсокартона, шпатлевка стен и потолка, разводка электрики, укладка плитки, укладка паркетной доски, разводка труб водоснабжения, установка сантехники, покраска стен и потолка, установка светильников<br> Тип ремонта: Евроремонт</p>
		<a href="./" class="examples__side-button button">консультация</a>
	</div>
</div>