<header class="header"> 
	<div class="container header__container">
		<div class="header__inner">
			<a href="./" class="header__logo"><img src="./images/logo.png" alt=""></a>
			<div class="header__side">
				<div class="header__side-top">
					<a href="./" class="header__address">г. Москва, Новоданиловская Наб. д. 6</a>
					<span class="header__menu-open"></span>
					<a href="tel:+74597277789" class="header__phone">+7 (459) 727-77-89</a>
					<a href="./" class="header__callback button button_header-callback" data-modal="callback">Обратный звонок</a>
				</div>
				<nav class="header__menu">
					<span class="header__menu-close"></span>
					<div class="header__menu-inner">
						<a href="./" class="header__menu-link">Цены</a>
						<a href="./" class="header__menu-link">Примеры работ</a>
						<a href="./" class="header__menu-link">Рассрочка 0%</a>
						<a href="./" class="header__menu-link">Отзывы</a>
						<a href="./" class="header__menu-link">Дизайн</a>
						<a href="./" class="header__menu-link">Контакты</a>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header> 
