<div class="modal__hidden">
	<div id="callback">
		<h1 class="modal__title">Заказать звонок</h1>
		<form class="modal__form" action="./">
			<div class="modal__field">
				<label class="modal__label">Ваше имя</label>
				<input type="text" name="" class="modal__input" placeholder="Имя">
			</div>
			<div class="modal__field">
				<label class="modal__label">Ваш телефон</label>
				<input type="tel" name="" class="modal__input phone" data-inputmask="'mask':'+7 (999) 999-99-99'" data-inputmask-clearmaskonlostfocus="false">
				<p class="modal__note">Укажите ваш актуальный телефон и мы свяжемся с вами в течение 15 минут</p>
			</div>
			<div class="modal__field">
				<input class="modal__submit button" type="submit" value="Заказать звонок">
			</div>
		</form>
	</div>
</div>