.discount {
	$self: &;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('./images/bg-discount.png') top center / cover no-repeat;

	@include media('<=sm') {
		padding-top: 40px;
	}

	&__container {

	}
	
	&__inner {
		display: flex;
		align-items: center;

		@include media('<=sm') {
			flex-wrap: wrap;
		}
	}

	&__text {
		text-transform: uppercase;			
		font-family: "MBL", sans-serif;

		span:first-child {
			display: block;
			color: #858585;
			font-size: 96px;
			line-height: 1.2;
			margin-bottom: 30px;
		}
		
		span:last-child {
			font-size: 36px;
			line-height: 1.2;
		}

		@include media('<=xlg') {
			span:first-child {
				font-size: 70px;
			}
			
			span:last-child {
				font-size: 30px;
			}
		}

		@include media('<=md') {
			span:first-child {
				font-size: 55px;
			}
			
			span:last-child {
				font-size: 24px;
			}
		}

		@include media('<=xxs') {
			span:first-child {
				font-size: 48px;
				text-align: center;
				margin-bottom: 10px;
			}
			
			span:last-child {
				display: block;
				position: relative;
				z-index: 2;
				font-size: 20px;
				text-align: center;
				margin-bottom: -60px;
			}
		}
	}

	&__image-box {
		// @include outline();
		background: url('./images/round.svg') left center / contain no-repeat transparent;
		height: 560px;
		
		img {
			display: block;
			min-width: 670px;
			transform: translateY(60px);
			
			@include media('<=xlg') {
				min-width: 570px;
			}
			
			@include media('<=md') {
				min-width: 470px;
			}
			
			@include media('<=sm') {
				min-width: 0;
			}
		}

		@include media('<=xlg') {
			height: auto;
		}
	}
}
