.insta {
	$self: &;
	background: linear-gradient(180deg, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0) 100%), url('./images/bg-instagram.png') top center / cover no-repeat;
	padding: 50px 0 20px;

	&__title {
		font-family: "MB", sans-serif;
		font-size: 36px;
		line-height: 1.3;
		text-align: center;

		@include media('<=sm') {
			font-size: 24px;
			text-transform: uppercase;
		}

		@include media('<=xs') {
			font-size: 22px;
		}
	}

	&__items {
		box-sizing: border-box;
		padding: 0 10px;

		.owl-nav {
			display: block !important;
		}

		.owl-stage-outer {
			box-sizing: border-box;
		}

		.owl-stage {
			padding: 45px 0;
		}

		.owl-item:hover {
			position: relative;
			z-index: 10;
		}
	}
	
	&__item {
		display: block;
		overflow: hidden;
		border: 3px solid transparent;
		transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
		border-radius: 10px;
		
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		
		&:hover {
			box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.20);
			border-color: #fff;
			transform: scale(1.15);
		}
	}

	&__prev, &__next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		background: none;
		outline: none;
		border: none;
		padding: 0;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		z-index: 1;
	}

	&__next {
		right: -5px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-white') right 11px center / 12px 20px no-repeat #575757;
	}
	
	&__prev {
		left: -5px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-white') left 11px center / 12px 20px no-repeat #575757;
	}
}
