.design {
	$self: &;
	padding: 70px 0;

	&__inner {
		display: flex;
		border: 1px solid #BDBDBD;
	}

	&__order {
		box-sizing: border-box;
		width: 50%;
		padding: 70px 20px 45px 50px;
	}
	
	&__title {
		margin-bottom: 50px;
	}
	
	&__list {
		margin-bottom: 35px;
		font-size: 14px;
		line-height: 1.8;
		
		li::before {
			content: '> ';
		}
	}
	
	&__form {
		
	}
	
	&__name {
		margin: 0 20px 25px 0;
		outline: none;
		appearance: none;
		border: none;
		background: none;
		padding: 10px 0;
		border-bottom: 1px solid #bbb;
		
		
		&::placeholder {
			color: #282828;
		}
		
		&:focus::placeholder {
			color: transparent;
		}
	}
	
	&__phone.phone {
		margin-bottom: 25px;
		padding: 10px 0;
		border-bottom: 1px solid #bbb;
	}
	
	&__submit.button {
		font-size: 18px;
		padding: 17px 10px 15px;
		min-width: 250px;
	}
	
	&__image {
		// margin-left: auto;
		width: 50%;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			line-height: 0;
		}
	}
}
